<h1>Submit Details</h1>
<form novalidate #form="ngForm" (submit)="onSubmit(form)">
  <div class="form-row justify-content-center">
  <div class="form-group col-md-5">
      <label>adhaarId</label>
      <input type="text" class="form-control form-control-lg" placeholder="15 digit number"
      name="adhaarId" #adhaarId="ngModel" [(ngModel)]="service.formData.adhaarId" maxlength="15" minlength="15" required [class.invalid]="adhaarId.invalid && adhaarId.touched">
  </div>
  <div class="form-group col-md-5">
      <label>Name</label>
      <input type="text" class="form-control form-control-lg" placeholder="FullName"
      name="name" #name="ngModel" [(ngModel)]="service.formData.name" required [class.invalid]="name.invalid && name.touched">
  </div>
  </div>
  <div class="form-row justify-content-center">
  <div class="form-group col-md-5">
      <label>DateOfBirth</label>
      <input type="text" class="form-control form-control-lg" placeholder="YYYY-MM-DD"
      name="dateofBirth" #DateofBirth="ngModel" [(ngModel)]="service.formData.dateOfBirth" required>
  </div>
  <div class="form-group col-md-5">
      <label>pan</label>
      <input type="text" class="form-control form-control-lg" placeholder="pan"
      name="pan" #pan="ngModel" [(ngModel)]="service.formData.pan" required>
  </div>
</div>
<div class="form-row justify-content-center">
  <div class="form-group col-md-5">
      <label>lastSalary</label>
      <input type="text" class="form-control form-control-lg" placeholder="lastSalary"
      name="lastSalary" #lastSalary="ngModel" [(ngModel)]="service.formData.lastSalary" required>
  </div>
  <div class="form-group col-md-5">
      <label>allowance</label>
      <input type="text" class="form-control form-control-lg" placeholder="allowance"
      name="allowance" #allowance="ngModel" [(ngModel)]="service.formData.allowance" required>
  </div>
</div>
<div class="form-row justify-content-center">
  <div class="form-group col-md-5">
      <label>pensionClassfication</label>
      <input type="text" class="form-control form-control-lg" placeholder="pensionClassfication"
      name="pensionClassfication" #pensionClassfication="ngModel" [(ngModel)]="service.formData.pensionClassfication" required>
  </div>
  <div class="form-group col-md-5">
      <label>bankName</label>
      <input type="text" class="form-control form-control-lg" placeholder="bankName"
      name="bankName" #bankName="ngModel" [(ngModel)]="service.formData.bankName" required>
  </div>
</div>
<div class="form-row justify-content-center">
  <div class="form-group col-md-5">
      <label>bankAccountNo</label>
      <input type="text" class="form-control form-control-lg" placeholder="bankAccountNo"
      name="bankAccountNo" #bankAccountNo="ngModel" [(ngModel)]="service.formData.bankAccountNo" required>
  </div>
  <div class="form-group col-md-5">
      <label>bankType</label>
      <input type="text" class="form-control form-control-lg" placeholder="bankType"
      name="bankType" #bankType="ngModel" [(ngModel)]="service.formData.bankType" required>
  </div>
</div>
<div class="form-group">
  <button class="btn btn-info btn-md btn-block" [disabled]="form.invalid" type="submit">Submit</button>
</div>
</form>
